<md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Amazon.com</span>
        </h2>
      <span flex></span>
      <h2>
          <span>Dashboard</span>
        </h2>
      <span flex></span>
      <span class="top-nav">username</span>
      <span><img src=""></span>
    </div>
  </md-toolbar>
</md-content>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 add-product">
      <h4>Add Product/Category</h4>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="caption" class="col-sm-4 control-label">Caption</label>
          <div class="col-sm-8">
            <input type="text" ng-model="data.caption" required class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="product-name" class="col-sm-4 control-label">Product Name</label>
          <div class="col-sm-8">
            <input type="text" ng-model="data.name" required class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="product-image" class="col-sm-4 control-label">Product Image</label>
          <div class="col-sm-8">
            <input type="file">
          </div>
        </div>
        <div class="form-group">
          <label for="product-description" class="col-sm-4 control-label">Product Description</label>
          <div class="col-sm-8">
            <textarea ng-model="data.description" required class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group" style="margin-left: 250px;">
          <div class="col-sm-3">
            <md-button ng-click="cancel(data)" class="md-raised md-warn">Cancel</md-button>
          </div>
          <div class="col-sm-3 col-sm-offset-2">
            <md-button ng-click="publish(data)" class="md-raised md-primary">Publish</md-button>
          </div>
        </div>
        <div class="thanks" ng-show="published" style="margin-left: 150px;">You have successfully published a new product.</div>
      </form>
    </div>
    <div class="col-md-6 add-product">
      <div class="row">
        <div>
          <h4>Template Preview</h4>
        </div>
        <div class="preview">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="margin-top: 50px; background-color: #f9f9f9;">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-2 ">
        <div class="history">
          <img src="../img/historical.png" width="64px" height="64px">
          <p>View History</p>
        </div>
      </div>
      <div class="col-md-10">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Published Date</th>
              <th>Caption</th>
              <th>Product Name</th>
              <th>Product Description</th>
              <th>Product Image</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10th July, 2015</td>
              <td>Laptops</td>
              <td><a href="#">amazon.com/product/1234</a></td>
              <td>Carter</td>
              <td>johncarter@mail.com</td>
            </tr>
            <tr>
              <td>28th June, 2015</td>
              <td>Headphones</td>
              <td><a href="#">amazon.com/product/1234</a></td>
              <td>Parker</td>
              <td>peterparker@mail.com</td>
            </tr>
            <tr>
              <td>23rd June, 2015</td>
              <td>Books</td>
              <td><a href="#">amazon.com/product/1234</a></td>
              <td>Rambo</td>
              <td>johnrambo@mail.com</td>
            </tr>
            <tr>
              <td>9th May, 2015</td>
              <td>Mens wear</td>
              <td><a href="#">amazon.com/product/1234</a></td>
              <td>This one of the best design in vogue.</td>
              <td>johnrambo@mail.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="background-color: #333;">
    <div class="footer">amazon.com. &copy; 2015 All right reserved.</div>
  </div>
</div>
